[
  {
    "test": ".*.jsx?$",
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true
      }
    }
  },
  {
    "test": ".*.ts$",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "dynamicImport": false
      }
    }
  }
]
